/* Mobile device responsive */
@media screen and (max-width: 576px) {

    /* navbar responsive start here  */
    .nav-container {
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    .nav-logo-container {
        width: auto;
    }

    .nav-item-list {
        flex-direction: column;
        align-items: center;
        margin: 20px;
        gap: 30px;
    }

    /* navbar responsive end */

    /* banner section responsive start */
    .banner-container {
        flex-direction: column-reverse;
        height: auto;
        margin: 20px;
    }
    .banner-content{
        width: 100%;
        padding: 0px;
    }
    .banner-img{
        width: 100%;
    }
    .banner-img img {
        padding-right: 0px;
        margin-bottom: 20px;
    }
    /* banner section responsive end */
}