@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Poppins:wght@400;500;700&family=Work+Sans:wght@400;600;700;800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* navbar style section start from here */
.nav-container {
    display: flex;
    align-items: center;
    margin: 0px 100px;
}

.nav-logo-container {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-logo {
    width: 84px;
    height: 40px;
    object-fit: cover;
}

.nav-title {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

.G {
    color: #FF42A5;
}

.nav-item-list {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.nav-item-list a {
    text-decoration: none;
}

.nav-btn {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 16px 24px;
    font-size: 18px;
}

/* banner section style start here */

.banner-container {
    height: 600px;
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    /* align-items: center; */
}

.banner-content {
    width: 50%;
    /* height: 600px; */
    background-image: url(/images/Group\ 14.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 90px;
}

.banner-title h2 {
    margin: 0px;
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
}

.banner-title h1 {
    margin: 0px;
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-description {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
}

.banner-img {
    width: 50%;
}

.banner-img img {
    width: 100%;
    height: 100%px;
    padding-right: 140px;
}

.btn-1 {
    border: none;
    border-radius: 48px;
    padding: 21px 40px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-2 {
    border: none;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-btn button {
    padding: 21px 40px;
}

/* gamer section style start  */
.gamer-container {
    margin-left: 100px;
    margin-right: 140px;
    display: flex;
    align-items: center;
}

.gamer-img {
    width: 50%;
}

.gamer-content {
    width: 50%;
    text-align: right;
}

.gamer-img img {
    width: 100%;
}

.gamer-title {
    margin: 0px;
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-description {
    margin: 0px;
    padding: 24px 0px 24px 30px;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}

.gamer-note {
    margin: 0px;
    margin-top: 24px;
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
}

.unleash {
    margin: 0px;
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}

/* card style start here  */

.card-container {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 140px;
}
.card-title {
    margin-bottom: 0px;
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}

.funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-description {
    margin: 0px;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}

.card-content {
    margin-bottom: 30px;
    text-align: center;
}

.card-box img {
   height: 350px;
    width: 272px;
    padding: 10px;
}

.card-box {
    display: flex;
}

.card-note {
    margin: 0px;
    color: #534C64;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
}