@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Poppins:wght@400;500;700&family=Work+Sans:wght@400;600;700;800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* navbar style section start from here */
.nav-container {
    display: flex;
    align-items: center;
    margin: 0px 100px;
}

.nav-logo-container {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-logo {
    width: 84px;
    height: 40px;
    object-fit: cover;
}

.nav-title {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

.G {
    color: #FF42A5;
}

.nav-item-list {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.nav-item-list a {
    text-decoration: none;
}

.nav-btn {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 16px 24px;
    font-size: 18px;
    border: none;
}
.fa-brands{
    font-size: 30px;
}
#yt{
    color: red;
}
/* banner section style start here */

.banner-container {
    height: 600px;
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    /* align-items: center; */
}

.banner-content {
    width: 50%;
    background-image: url(/images/Group\ 14.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 90px;
}

.banner-title h2 {
    margin: 0px;
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
}

.banner-title h1 {
    margin: 0px;
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-description {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
}

.banner-img {
    width: 50%;
}

.banner-img img {
    width: 100%;
    height: 100%px;
    padding-right: 140px;
}

.btn-1 {
    border: none;
    border-radius: 48px;
    padding: 21px 40px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-2 {
    border: none;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-btn button {
    padding: 21px 40px;
}

/* gamer section style start  */
.gamer-container {
    margin-left: 100px;
    margin-right: 140px;
    display: flex;
    align-items: center;
}

.gamer-img {
    width: 50%;
}

.gamer-content {
    width: 50%;
    text-align: right;
}

.gamer-img img {
    width: 100%;
}

.gamer-title {
    margin: 0px;
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-description {
    margin: 0px;
    padding: 24px 0px 24px 30px;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}

.gamer-note {
    margin: 0px;
    margin-top: 24px;
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
}

.unleash {
    margin: 0px;
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}

/* card style start here  */

.card-container {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 140px;
}

.card-title {
    margin-bottom: 0px;
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}

.funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-description {
    margin: 0px;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}

.card-content {
    margin-bottom: 30px;
    text-align: center;
}

.card-box img {
    height: 350px;
    width: 272px;
    padding: 10px;
}

.card-box {
    display: flex;
}

.card-note {
    margin: 0px;
    color: #534C64;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
}

/* play section style start  */
.play-container {
    height: 625px;
    display: flex;
    align-items: center;
    margin-left: 200px;
    margin-right: 140px;
    margin-bottom: 100px;
}

.play-content {
    padding-right: 100px;
    width: 50%;
    text-align: right;
}

.play-content p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}

.play-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.play {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.play-img {
    width: 50%;
}

.big-img {
    width: 80%;
    height: 90%;
    margin-left: 100px;
}

.small-img {
    margin-top: -170px;
    max-width: 200px;
}

/* play world section style start */
.play-world-container {
    border: none;
    height: fit-content;
    max-width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 20px;
}

.games-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.play-world-container img {
    width: 40px;
}

.play-world-container p {
    font-size: 14px;
}

/* footer section style start */
.footer-container{
    border: 1px solid black;
    margin-top: 130px;
    text-align: center;
    background-color: #0B0223;;
}
.footer-logo-container{
    width: max-content;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #FFF;;

}
.footer-info{
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
}
.footer-info a {
    text-decoration: none;
    padding-right: 60px;
    color: #FFF;
}
.social-links{
    width: 30%;
    margin: auto;
    display: flex;
    align-items: center;

}
.social-links .fa-brands {
    font-size: 40px;
    padding: 15px;
    color: #FFF;
}
.policy-container{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    
}
.policy-container a{
    text-decoration: none;
    color: #FFFFFF;
    padding-right: 30px;
}
.copyright{
    margin-top: 30px;
    color: #FFFFFF;
    padding-bottom: 50px;
}

/* Responsive mobile device */

@media screen and (max-width: 576px) {

    /* navbar responsive start here  */
    .nav-container {
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    .nav-logo-container {
        width: auto;
    }

    .nav-item-list {
        flex-direction: column;
        align-items: center;
        margin: 20px;
        gap: 30px;
    }

    .nav-btn {
        font-size: 10px;
    }

    /* navbar responsive end */

    /* banner section responsive start */
    .banner-container {
        flex-direction: column-reverse;
        height: auto;
        margin: 20px;
    }

    .banner-content {
        width: 100%;
        padding: 0px;
    }

    .banner-img {
        width: 100%;
    }

    .banner-img img {
        padding-right: 0px;
        margin-bottom: 20px;
    }

    /* banner section responsive end */

    /* gamer section responsive start */
    .gamer-container {
        flex-direction: column;
        margin: 20px;
    }

    .gamer-img {
        width: 100%;
    }

    .gamer-content {
        padding: 0px;
        width: 100%;
        text-align: center;
    }

    .gamer-note {
        font-size: 16px;
    }

    .unleash {
        font-size: 20px;
    }

    /* card section responsive start */
    .card-container {
        margin: 20px;
    }

    .card-box {
        flex-direction: column;
        align-items: center;
    }

    .card-note {
        color: #534C64;
        font-size: 10px;
        text-align: center;
        font-weight: 400;
        line-height: 30px;
    }

    .card-title {
        font-size: 24px;
    }

    .card-description {
        font-size: 12px;
    }

    /* play section responsive */
    .play-container {
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    .play-content {
        padding: 20px;
        width: 100%;
        font-size: 16px;
        text-align: center;
    }

    .play-title {
        text-align: center;
        font-size: 40px;
    }

    .play-img {
        width: 90%;
    }

    .small-img {
        margin-top: -150px;
        max-width: 200px;
    }

    .play-world-container {
        height: 646px;
        max-width: 100%;
        padding-top: 250px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }
    .games-box {
        /* padding: 5px; */
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    
    .play-world-container img {
        width: 20px;
    }
    
    .play-world-container p {
        font-size: 10px;
    }
    .footer-container{
        margin: 20px;
    }
    .footer-info {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 20px;
        gap: 30px;
    }
    .footer-info a {
        text-decoration: none;
        padding-right: 0px;
    }
    .social-links{
        width: 100%;
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .policy-container{
        width: 100%;
        /* padding: 10px; */
        margin-top: 30px;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-size: 10px;
        font-weight: 400;
        gap: 30px;
    }
    .copyright{
     /* padding: 120px; */
     font-size: 9px;
    }
}